flows/ded.flow
[{"id":"cdac52e1.4f37e","type":"serial in","z":"4fa9a3d8.0d974c","name":"esp32","serial":"1a1ea6f3.3d3829","x":128.57142857142856,"y":488.5714285714285,"wires":[["d4a658a0.050a98"]]},{"id":"d4a658a0.050a98","type":"debug","z":"4fa9a3d8.0d974c","name":"","active":true,"console":"false","complete":"true","x":398,"y":469.28570556640625,"wires":[]},{"id":"211da2b9.c44a7e","type":"mqtt in","z":"4fa9a3d8.0d974c","name":"","topic":"Feeds/status","qos":"2","broker":"372d66a6.16370a","x":105.61204528808594,"y":194.85472106933594,"wires":[["d4a658a0.050a98"]]},{"id":"d3e09b29.88e568","type":"mqtt in","z":"4fa9a3d8.0d974c","name":"","topic":"Feeds/state","qos":"2","broker":"372d66a6.16370a","x":106,"y":316,"wires":[["d4a658a0.050a98","469984e5.5aca0c","ca88a1d0.647bb"]]},{"id":"469984e5.5aca0c","type":"function","z":"4fa9a3d8.0d974c","name":"switch_state ","func":"var states = [\"happy\", \"sad\", \"inbetween\", \"out for a walk\", \"fancy a call\",\"social media free\",\"just quiet\",\"r. need some help\"];\nswitch(msg.payload) {\n    case \"1111111111111110\"://1\n        var newMsg =  { payload: states[0]};\n        break;\n    case \"1111111111111101\"://2\n        var newMsg =  { payload:states[1]};\n        break;\n    case \"1111111111111011\"://3\n        var newMsg =  { payload:states[2]};\n        break;\n    case \"1111111111110111\"://4\n        var newMsg =  { payload:states[3]};\n        break;\n\n    case \"1111111111101111\"://5\n        var newMsg =  { payload:states[4]};\n        break;\n\n    case \"1111111111011111\":\n        var newMsg =  { payload:states[5]};\n        break;\n\n    case \"1111111110111111\":\n        var newMsg =  { payload:states[6]};\n\tbreak;\n    case \"1111111101111111\":\n        var newMsg =  { payload:states[7]};\n        break;\n    case \"1111111011111111\":\n    var newMsg =  { payload:states[8]};\n        break;\n    case \"1111110111111111\":\n        var newMsg =  { payload:states[9]};\n        break;\n    case \"1111101111111111\":\n        var newMsg =  { payload:states[10]};\n        break;\n    case \"1111011111111111\":\n        var newMsg =  { payload:states[11]};\n        break;\n\n    default:\n        var newMsg =  { payload: \"I have never heard of that fruit...\"};\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":269.7353210449219,"y":165.8336944580078,"wires":[["d4a658a0.050a98","d2d5ac32.62e3b","aedb9051.3a113"]]},{"id":"d2d5ac32.62e3b","type":"ui_text","z":"4fa9a3d8.0d974c","group":"77e46feb.f83e2","order":0,"width":"2","height":"2","name":"Status","label":"Mood:","format":"{{msg.payload}}","layout":"row-left","x":430,"y":96,"wires":[]},{"id":"aedb9051.3a113","type":"mqtt out","z":"4fa9a3d8.0d974c","name":"","topic":"Feeds/emotional","qos":"","retain":"","broker":"372d66a6.16370a","x":401,"y":261,"wires":[]},{"id":"3bc291f6.745b6e","type":"ui_gauge","z":"4fa9a3d8.0d974c","name":"","group":"77e46feb.f83e2","order":0,"width":"2","height":"1","gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"65000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":319,"y":40,"wires":[]},{"id":"ca88a1d0.647bb","type":"function","z":"4fa9a3d8.0d974c","name":"","func":"var binary = new Uint16Array();\nbinary=parseInt(msg.payload,2);\nvar newMsg = { payload: binary };\nreturn newMsg;","outputs":1,"noerr":0,"x":187,"y":62,"wires":[["3bc291f6.745b6e","7a9cc2b6.dc59bc"]]},{"id":"7a9cc2b6.dc59bc","type":"ui_text","z":"4fa9a3d8.0d974c","group":"77e46feb.f83e2","order":0,"width":"2","height":"2","name":"Status","label":"Mood:","format":"{{msg.payload}}","layout":"row-left","x":322,"y":77,"wires":[]},{"id":"ea84fb68.f21558","type":"inject","z":"4fa9a3d8.0d974c","name":"","topic":"","payload":"hello mqtt","payloadType":"str","repeat":"","crontab":"","once":true,"x":126,"y":411,"wires":[["aedb9051.3a113","111210a0.2b3a6f","d950e567.1b2888"]]},{"id":"111210a0.2b3a6f","type":"mqtt out","z":"4fa9a3d8.0d974c","name":"status","topic":"Feeds/status","qos":"","retain":"","broker":"372d66a6.16370a","x":414,"y":317,"wires":[]},{"id":"d950e567.1b2888","type":"mqtt out","z":"4fa9a3d8.0d974c","name":"state","topic":"Feeds/state","qos":"","retain":"","broker":"372d66a6.16370a","x":414,"y":388,"wires":[]},{"id":"6fe11112.38d2b","type":"inject","z":"4fa9a3d8.0d974c","name":"","topic":"","payload":"1111111111111110","payloadType":"str","repeat":"","crontab":"","once":false,"x":118,"y":26,"wires":[["ca88a1d0.647bb","469984e5.5aca0c"]]},{"id":"1a1ea6f3.3d3829","type":"serial-port","z":"","serialport":"/dev/ttyUSB1","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"372d66a6.16370a","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"77e46feb.f83e2","type":"ui_group","z":"","name":"Status","tab":"137c62b7.74ef3d","disp":true,"width":"9"},{"id":"137c62b7.74ef3d","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]
